button {
  background-color: #6278f7;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 32px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #6278f7;
  border: 4px solid #6278f7;
  padding: 28px;

}